<!--THIS NAVBAR IS BOOTSTRAP 5. CHANGES ON THIS PAGE UPDATES TO ALL-->
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <img src="/img/Torch.png" class="icon" alt="Logo">
        <a class="navbar-brand" href="/">Demo EJS Education</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="/sportal"><i class="fas fa-home"></i> Student Portal</a>
                <a class="nav-link" href="/sportal/profile">Profile</a>
                <a class="nav-link" href="/sportal/homework">Homework</a>
                <a class="nav-link" href="/sportal/progress">Progress Report</a>
            </div>
            <div class="navbar-nav ms-auto">
                <!-- TOGGLES THE NAV LINKS DEPENDING IF USER IS LOGGED IN OR NOT -->
                <% if(!currentUser) { %> 
                <a class="nav-link" href="/login">Login</a>
                <a class="nav-link" href="/register">Register</a>
                <% } else { %> 
                <a class="nav-link" href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
                <% } %> 
            </div>
        </div>
    </div>
</nav>