<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Demo EJS Education</title>
    <link href="/styles/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles/home.css">
    <link rel="stylesheet" href="/styles/all.min.css">
    <!--Page styling inspired by https://getbootstrap.com/docs/4.0/examples/cover/-->
</head>

<body class="d-flex text-center text-white bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
            <div>
                <h3 class="float-md-start mb-0">Demo EJS Education</h3>
                <nav class="nav nav-masthead justify-content-center float-md-end">
                    <a class="nav-link active" aria-current="page" href="/"><i class="fas fa-home"></i> Home</a>
                    <a class="nav-link" href="/courses">Courses</a>
                    <a class="nav-link" href="/aboutus">About Us</a>
                    <a class="nav-link" href="/contact">Contact Us</a>
                    <span class="nav-link"> | </span>
                    <% if(!currentUser) { %>
                        <a class="nav-link" href="/login">Login</a>
                        <a class="nav-link" href="/register">Register</a>
                        <% } else if(currentUser.isAdmin==true) { %>
                            <a class="nav-link" href="/tportal">Teacher Portal</a>
                            <a class="nav-link" href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
                            <% } else if(currentUser.isAdmin==false) { %>
                                <a class="nav-link" href="/sportal">Student Portal</a>
                                <a class="nav-link" href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
                            <% } else { %>
                                <a class="nav-link" href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
                                <% } %>
                </nav>
            </div>
        </header>
        <main class="px-3">
            <h1 class="mb-4"><strong>Demo EJS Education</strong></h1>
            <% if(!currentUser) { %>
                <p class="lead"> Welcome, begin by registering or logging into your account. </p>
                <a href="/register" class="btn btn-lg btn-secondary font-weight-bold text-white bg-white"><i class="fas fa-user-plus"></i> Register</a>
                <a href="/login" class="btn btn-lg btn-secondary font-weight-bold text-white bg-white"><i
                        class="fas fa-sign-in-alt"></i> Login</a>
                <% } else if(currentUser.isAdmin==true) { %>
                    <p class="lead">Now that you're logged in, head to the Teacher Portal. </p>
                    <a href="/tportal" class="btn btn-lg btn-secondary font-weight-bold text-white bg-white"><i class="fas fa-door-open"></i> Teacher
                        Portal</a>
                    <% } else { %>
                        <p class="lead">Now that you're logged in, head to the Student Portal. </p>
                        <a href="/sportal" class="btn btn-lg btn-secondary font-weight-bold text-white bg-white"><i class="fas fa-door-open"></i> Student
                            Portal</a>
                        <% } %>
        </main>
        <footer class="mt-auto text-white-50">
            <%- include('./partials/flash.ejs') %>
                <p>&copy; 2021 LibertyLaunchGroup</p>
        </footer>
    </div>
    <script src="/scripts/popper.min.js"></script>
    <script src="/scripts/bootstrap.min.js"></script>
</body>

</html>