hr {
    color: white;
    border: 0;
    height: 5px !important;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1));
}

hr.plain {
    color: black;
    border: 0;
    height: 1px !important;
}

/* https://www.youtube.com/watch?v=z_R13WXXovw */
progress {
    width: 100%;
    height: 15px;
    border:1px solid #ccc;
    color: #aaa;
}

.pw-unmet, .pw-confirm-unmet {
    color:tomato;
}

.studentinfo {
    border-radius: 25px;
    border: 2px solid black;
    border-width: 5px;
}

.form-subtitle {
    display: block;
    margin-left: 2.5%;
    opacity: 0.75;
}

.filterDiv {
    display: none;
}

.show {
    display: block;
}

.image-ref {
    font-size: 0.8rem;
    text-decoration: none;
}

.logo {
    width: 400px;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.icon {
    width: 25px;
    height: 100%;
    padding-right: 5px;
}

.footer-link {
    color: #c2c2c2;
}

.footer-link:hover {
    color: #ff3030;
    /* color: #b30c14; */
}

.nav-link:hover {
    color: #ff3030 !important;
    /* color: #b30c14 !important; */
}

.bg-dark {
    background-color: #4d4848 !important;
    /* background-color: #240c7a !important;  */
}

.navbar-dark a {
    color: whitesmoke!important;
    font-weight: bold;
}

.btn-dark {
    background-color: #4d4848;
    /* background-color: #240c7a; */
    font-weight: bold;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3)
}

.btn-success {
    background-color: #57ba66;
    border-color: #57ba66;
    font-weight: bold;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3)
}

.btn-success:hover {
    color: white !important;
    font-weight: bold;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3)
}

.btn-warning {
    background-color: #f7db00;
    border-color: #f7db00;
    color: white;
    font-weight: bold;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3)
}

.btn-warning:hover {
    color: white !important;
    background-color: #d9c214;
    font-weight: bold;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3)
}

.btn-info {
    background-color: #3eb3f7;
    border-color: #3eb3f7;
    color: white;
    font-weight: bold;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3)
}

.btn-info:hover {
    color: white !important;
    font-weight: bold;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3)
}

.btn-danger {
    background-color: #e83535;
    border-color: #e83535;
    color: white;
    font-weight: bold;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3)
}

.btn-danger:hover {
    color: white !important;
    font-weight: bold;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3)
}

.btn-primary {
    background-color: #3162de;
    border-color: #3162de;
    color: white;
    font-weight: bold;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3)
}

.btn-primary:hover {
    color: white !important;
    background-color: #243e80;
    border-color: #243e80;
    font-weight: bold;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3)
}

.card2 {
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

.card2:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .16);
}